.product-card {
  /* border: solid red 1px; */
  padding: 2%;
  margin: 5px;
  max-height: 100%;
  background-color: white;
  /* gap: 3px; */

  overflow: hidden;
  justify-content: space-evenly;

  margin: auto;

  box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.2);
  
  
  text-align: center;
  font-family: arial;
}

.product-info {
  margin: auto;
  width: 50%;
 
  padding: 10px;
  overflow: auto;
  display: block;
  

  height: fit-content;
  width: fit-content;
  align-items: flex-end;
  text-align: center;

  

  
}

.image {
  width: 18em;
  height: 18em;
  overflow: hidden;

  
}

.product-name{
  font-weight: bold;
  font-size: large;
  color: rgb(226, 113, 65);
}

.add-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.add-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.add-button span:after {
  
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.add-button:hover span {
  padding-right: 25px;
}

.add-button:hover span:after {
  opacity: 1;
  right: 0;
}