@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: url("https://images.unsplash.com/photo-1511370235399-1802cae1d32f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=855&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.home-root {
  text-align: center;
  margin: center;
  margin-top: 25vh;

}

.shop-welcome {
  width: 15em;
  margin: auto;
  margin-top: 7em;
  border-radius: 15px;

  text-align: center;
  color: rgb(245, 229, 229);
  font-size: 30pt;
  font-weight: 900;

  background-color: rgb(72, 22, 22);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 16px rgba(69, 69, 69, 0.594);


}

.shop-button {
  color: white;
  margin-top: 1em;
  width: 8em;
  padding: 0.25rem 2rem;
  border: none;
  font-size: 18pt;
  border-radius: 1em;
  font-weight: 900;
  background-color: rgb(72, 22, 22);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 16px rgba(69, 69, 69, 0.594);
}