.App {

  overflow: auto;
  background-color: #f0f2f4;
  text-align: center;
  
}

.products-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 2px;

  max-width: 1150px;
  margin: auto;
  
}