@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

nav {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: rgb(72, 22, 22);
  color: white;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.3s;
  
  position: sticky;
  top: 0;
}

nav .left {
  font-size: 1.25em;
  margin-left: 1em;

}

nav .right {
  font-size: 1.25em;
  margin-right: 1em;

}

nav.right>login {
  font-size: .5em;
  margin-right: 1em;

}



nav .flex {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* links */
nav a {
  color: inherit;
  text-decoration: unset;
  margin-left: 0.25rem;

}

/* links hovered */
nav a:hover {
  background-color: white;
  color: black;
}

/* currently viewed link */
nav a:active {
  background-color: yellow
}

.nav-bar-right {
  margin-left: 35em;

}

.loginButton {
  border-radius: 10px;
   
  cursor: pointer;
}

.loginButton:hover{
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(3, 54, 3);
  color: whitesmoke;
}

.logoutButton {
 border-radius: 10px;
  cursor: pointer;
  
  background-color: brown;
  color: whitesmoke;
}

.logoutButton:hover {
  
  background-color: whitesmoke;
  color: black;
}

